extends layout

block content

  h1 #{title}: #{book.title}

  p #[strong Author: ]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre: ]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |,&nbsp;

  hr

  if book_books.length

    p #[strong Delete the following copies before attempting to delete this Book.]

    div(style='margin-left:20px;margin-top:20px')
      h4 Copies
      each bookIns in book_books
        hr
        if bookIns.status=='Available'
          p.text-success #{bookIns.status}
        else if bookIns.status=='Maintenance'
          p.text-danger #{bookIns.status}
        else
          p.text-warning #{bookIns.status} 
        p #{bookIns.imprint}
        if bookIns.status!='Available'
          p #[strong Due back:] #{bookIns.due_back_formatted}
        p #[strong Id:]
          a(href=bookIns.url) #{bookIns._id}
          
  else
    p Do you really want to delete this Book?

    form(method='POST')
      div.form-group
        input#bookid.form-control(type='hidden', name='bookid', value=book._id )

      button.btn.btn-primary(type='submit') Delete
      